// src/components/filterBar/FilterBar.scss
@import "../../styles/variables.scss";

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;

  input {
    flex: 1;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  select {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
}
